<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="wrapper">
        {{>header}}
        <main id="main">
            <p>This app is made from two open source APIs 1) Mapbox, 2) Weatherstack.</p>
            <img class="user-img" src="img/muzaffer.jpg" alt="">
        </main>
        {{>footer}}
    </div>
</body>
</html>